*::selection {
    background: #29ffbf;
    color: #000000;
}

*::-moz-selection {
    background: #29ffbf;
    color: #000000;
}

*::-webkit-selection {
    background: #29ffbf;
    color: #000000;
}